<!-- footer -->
{% load static %}

	<footer>
		<div class="container py-4">
			<div class="row py-xl-5 py-sm-3">
				<div class="col-lg-6 map">
					<h2 class="contact-title text-capitalize text-white font-weight-light mb-sm-4 mb-3">ES.I -
						<span class="font-weight-bold">Địa Chỉ</span>
					</h2>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.7539861503894!2d106.7032577292036!3d10.810090399518673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175295115b35db7%3A0xb973732223c5ca12!2sC%C3%94NG+TY+TNHH+FATAMEDIA!5e0!3m2!1svi!2s!4v1544675628854" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					<div class="conta-posi-w3ls p-4 rounded">
						<h5 class="text-white font-weight-bold mb-3">Địa Chỉ</h5>
						<p>D1 Khu Chung Cư Đất Phương Nam
							<span>243 Chu Văn An,</span> P. 12, Q. Bình Thạnh, Tp.HCM</p>
					</div>
				</div>
				<div class="col-lg-6 contact-agileits-w3layouts mt-lg-0 mt-4">
				  <h3 class="font-weight-bold text-white">Kết nối <span class="contact-title text-capitalize text-white font-weight-light mb-sm-4 mb-3">với chúng tôi</span> </h3>
				  <p>&nbsp;</p>
				  <p class="conta-para-style border-left pl-4">Nếu bạn có bất cứ thắc mắc nào về khóa học, hãy liên hệ ngay với hotline hoặc email bên dưới
                    để được hỗ trợ và tư vấn.</p>
					<div class="subscribe-w3ls my-xl-5 my-4">
						<h6 class="text-white text-capitalize mb-4">Nhập Email để nhận mọi thông tin sớm nhất!</h6>
						<form action="#" method="post" class="subscribe_form">
							<input class="form-control" type="email" name="email" placeholder="Enter your email..." required="">
							<button type="submit" class="btn btn-primary submit">Submit</button>
						</form>
					</div>
					<p class="para-agileits-w3layouts text-white">
						<i class="fas fa-map-marker pr-3"></i>D1 KDC Đất Phương Nam, 243 Chu Văn An, P. 12, Q. BT, Tp.HCM</p>
					<p class="para-agileits-w3layouts text-white my-sm-3 my-2">
						<i class="fas fa-phone pr-3"></i>0982 226 854</p>
					<p class="para-agileits-w3layouts">
						<i class="far fa-envelope-open pr-2"></i>
						<a href="mailto:mail@example.com" class=" text-white">truonghoangftu2@gmail.com</a>
					</p>
				</div>
			</div>
		</div>
		<div class="copyright-agiles py-3">
			<div class="container">
				<div class="row">
					<p class="col-lg-8 copy-right-grids text-white text-lg-left text-center mt-lg-1">© 2018 ES.I. All Rights Reserved | Design by
						<a href="" target="_blank">LOUIS</a>
					</p>
					<!-- social icons -->
					<!-- //social icons -->
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->
	<!-- Js files -->
	<!-- JavaScript -->
	<script src="{% static  'esiapp/js/jquery-2.2.3.min.js' %}"></script>
	<!-- Default-JavaScript-File -->
	<script src="{% static  'esiapp/js/bootstrap.js' %}"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- smooth scrolling -->
	<script src="{% static  'esiapp/js/SmoothScroll.min.js' %}"></script>
	<!-- move-top -->
	<script src="{% static  'esiapp/js/move-top.js' %}"></script>
	<!-- easing -->
	<script src="{% static  'esiapp/js/easing.js' %}"></script>
	<!--  necessary snippets for few javascript files -->
	<script src="{% static  'esiapp/js/edulearn.js' %}"></script>
    <!-- banner slider -->
	<script src="{% static  'esiapp/js/slider.js' %}"></script>
	<!-- //banner slider -->

	<!-- testimonial-plugin -->
	<script src="{% static  'esiapp/js/mislider.js' %}"></script>
	<script>

</body>
</html>
