<!DOCTYPE html>
{% load staticfiles %}
<html lang="vi">
<head>
	<title>ES.I CLASS ENGLISH</title>
{% include 'esiapp/header.html' %}
	<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{% url 'index' %}">Trang Chủ</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Admission Form</li>
		</ol>
	</nav>
	<!-- breadcrumb -->
	<!-- admission form -->
	<div class="form-w3l py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">Form
				<span class="font-weight-bold">Đăng Ký</span>
			</h3>
			<div class="register-form pt-md-4">
				<form action="#" method="post">
					<div class="styled-input form-group">
						<input type="text" class="form-control" placeholder="Họ Tên" name="Your name" required="">
					</div>
					<div class="styled-input form-group">
						<input id="datepicker" class="form-control" placeholder="Ngày Sinh" name="Text" type="text" value="" onfocus="this.value = '';"
						 onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
					</div>
					<div class="styled-input agile-styled-input-top form-group">
						<select class="category2" required>
							<option value="">Giới Tính</option>
							<option value="">Nữ</option>
							<option value="">Nam</option>
							<option value="">Khác</option>
						</select>
					</div>
					<div class="styled-input form-group">
						<input type="email" class="form-control" placeholder="E-mail" name="Email" required="">
					</div>
					<div class="styled-input form-group">
						<input type="text" class="form-control" placeholder="Số Điện Thoại" name="Phone" required="">
					</div>
					<div class="styled-input agile-styled-input-top form-group">
						<select class="category2" required>
							<option value="">Lựa Chọn Khóa Học</option>
							<option value="">Phát Âm</option>
							<option value="">Cơ Bản</option>
							<option value="">Giao Tiếp</option>
						</select>
						<span></span>
					</div>
					<div class="styled-input form-group">
						<div class="agileits_w3layouts_grid">
							<select class="category2" name="category1" required>
								<option value="">Chọn Thời Gian Học</option>
								<option value="">Hours: 8am - 10am</option>
								<option value="">Hours: 10am - 12pm</option>
								<option value="">Hours: 12pm - 4pm</option>
								<option value="">Hours: 4pm - 7pm</option>
								<option value="">Hours: 7pm - 9pm</option>
							</select>
						</div>
					</div>
					<div class="styled-input">
						<label class="header-admin-form font-weight-bold text-dark my-3">Địa Chỉ</label>
						<div class="form-group">
							<input type="text" name="name" class="form-control" placeholder="Địa Chỉ" title="Please enter your Address" required="">
						</div>
						<div class="form-group">
							<input type="text" name="name" class="form-control" placeholder="Quận" title="Please enter your City" required="">
						</div>
					</div>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
	<!-- admission form -->
	<script type="text/javascript">
		var element = document.getElementById("nav-item3");
  		element.classList.add("active");
		</script>
{% include 'esiapp/footer.html' %}
