
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>PART 2: RECORDING TEST</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="{% static  'esiapp/images/favicon.png' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="author" content="Muaz Khan">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static  'esiapp/assets/style2.css' %}">
</head>

<body>
    <article>



        <section class="experiment">
            <h2 class="header">PHÁT ÂM CÁC TỪ VÀ CÂU SAU</h2>
            <ol>
                <li>
                    Horse – house
                </li>

                <li>
                    Thin - think
                </li>

                <li>
                    She – sea
                </li>

                <li>
                    Bet – pet
                </li>

                <li>
                    I am a student
                </li>

                <li>
                    This is my pen
                </li>
                <li>
                    I must go to school now
                </li>
                <li>
                    How long have this been going on?
                </li>
            </ol>
        </section>



        <section class="experiment">
            <p style="margin-top: 0;">
                Bạn có thể sử dụng trình ghi âm của điện thoại/máy tính hoặc sử dụng công cụ ghi âm online sau:
                  <a target = "_blank" href="https://online-voice-recorder.com">Ghi âm Online</a>
            </p>

        </section>

    </article>

    <footer>
        <p>
            <a href="#">Ứng dụng được phát triển bởi</a> © <a href="#" rel="author" target="_blank">ES.I Class</a>
        </p>
    </footer>


</body>
</html>
