<!DOCTYPE html>
{% load staticfiles %}
<html lang="vi">
<head>
	<title>Edulearn Education Category Bootstrap Responsive Website Template | Business :: W3layouts</title>
	<meta name="keywords" content=""/>
	<!-- Meta tag Keywords -->
{% include 'header.html' %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="index.html">Trang Chủ</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Giao Tiếp</li>
		</ol>
	</nav>
	<!-- breadcrumb -->
	<!-- course-->
	<div class="course-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">Khóa Học -
				<span class="font-weight-bold">Giao Tiếp</span>
			</h3>
			<div class="row cource-list-agile pt-md-4">
				<div class="col-lg-7 agile-course-main">
					<div class="w3ls-cource-first">
						<img src="{% static  '{% static  'images/1.png' %}' %}" alt="" class="img-fluid img-poiscour mx-auto d-block mt-2"></img>
						<div class="px-md-5 px-4  pb-md-5 pb-4">
							<h3 class="text-dark">Spring</h3>
							<p class="mt-3 mb-4 pr-lg-5">Luyện kĩ năng nghe nói và phản xạ. Xây dựng nền cho người
								mới bắt đầu hoặc học tiếng anh lâu nhưng chưa thể giao tiếp.
							<p>Khóa học 12 tuần, tuần học 2 buổi, có ít nhất 3 tuần luyện
								giao tiếp với giáo viên bản xứ.</p>
							<p>Listening: Nghe hiểu hội thoại cơ bản thường ngày.</p>
							<p>Speaking: Giao tiếp cơ bản về bản thân và các chủ đề quen thuộc.</p>
							<ul class="list-unstyled text-capitalize">
								<li>
									<i class="fas fa-calendar-alt mr-3"></i>Tháng 3 – tháng 5</li>
								<li class="my-3">
									<i class="fas fa-clock mr-3"></i>1,5h / buổi</li>
								<li>
									<i class="fas fa-users mr-3"></i>10-12 seats</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-5 agile-course-main-2 mt-4">
					<img src="{% static  'images/am4.jpg' %}" alt="" class="img-fluid">
				</div>
				<div class="buttons-w3ls">
					<a class="btn button-cour-w3ls text-white" href="course_details.html" role="button">Đọc Thêm</a>
					<a class="btn bg-dark text-white" href="form.html" role="button">Đăng Ký</a>
				</div>
			</div>
			<div class="row cource-list-agile cource-list-agile-2">
				<div class="col-lg-5 agile-course-main-3 mt-4">
					<img src="{% static  'images/n4.jpg' %}" alt="" class="img-fluid">
				</div>
				<div class="col-lg-7 agile-course-main text-right">
					<div class="w3ls-cource-first">
						<img src="{% static  'images/2.png' %}" alt="" class="img-fluid img-poiscour mx-auto d-block mt-2"></img>
						<div class="px-md-5 px-4  pb-md-5 pb-4">
							<h3 class="text-dark">Summer</h3>
							<p class="mt-3 mb-4 pl-lg-4">- Nâng cao kĩ năng nghe nói và phản xạ với các loại chủ đề
								mới. Bổ sung kiến thức và các mẫu câu thường gặp, cập nhật và bổ sung
								kiến thức nền liên tục. Khóa học 12 tuần, tuần học 2 buổi, có đến 6 tuần luyện giao
                                tiếp với giáo viên bản xứ.</p>
                             <p>Listening: Nghe hiểu hội thoại theo chủ đề. Phản xạ nhanh với các bài nghe mới.</p>
                             <p>Speaking: Giao tiếp cơ bản theo chủ đề cho sẵn, tạo dựng nhiều tình huống giao
                                tiếp để phản xạ nhanh hơn với mỗi chủ đề.</p>
							<ul class="list-unstyled text-capitalize">
								<li >Tháng 3- tháng 5
									<i class="fas fa-calendar-alt ml-3"></i>
								</li>
								<li class="my-3">1,5h / buổi
									<i class="fas fa-clock ml-3"></i>
								</li>
								<li>10-12 seats
									<i class="fas fa-users ml-3"></i>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="buttons-w3ls-2">
					<a class="btn button-cour-w3ls text-white" href="course_details.html" role="button">Đọc Thêm</a>
					<a class="btn bg-dark text-white" href="form.html" role="button">Đăng Ký</a>
				</div>
			</div>
			<div class="row cource-list-agile pt-4">
				<div class="col-lg-7 agile-course-main">
					<div class="w3ls-cource-first">
						<img src="{% static  '{% static  'images/1.png' %}' %}" alt="" class="img-fluid img-poiscour mx-auto d-block mt-2"></img>
						<div class="px-md-5 px-4  pb-md-5 pb-4">
							<h3 class="text-dark">Autumn</h3>
							<p class="mt-3 mb-4 pr-lg-5">Mở rộng chủ đề nói theo yêu cầu cũng như khả năng của học viên.
							Tăng cường phản xạ cùng giáo viên bản ngữ, luyện nói luyện nghe theo hình thức nói trước công chúng.
							Khoá học kéo dài 12 tuần. 3 buổi/ tuần. </p>
							<ul class="list-unstyled text-capitalize">
								<li>
									<i class="fas fa-calendar-alt mr-3"></i>Tháng 4- tháng 6</li>
								<li class="my-3">
									<i class="fas fa-clock mr-3"></i>1,5h / buổi</li>
								<li>
									<i class="fas fa-users mr-3"></i>10-12 seats. </li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-5 agile-course-main-2 mt-4">
					<img src="{% static  'images/am2.jpg' %}" alt="" class="img-fluid">
				</div>
				<div class="buttons-w3ls">
					<a class="btn button-cour-w3ls text-white" href="course_details.html" role="button">Đọc Thêm</a>
					<a class="btn bg-dark text-white" href="form.html" role="button">Đăng Ký</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //course-->
<!---728x90--->

	<!-- Stats-->
	<!-- //Stats -->
<!---728x90--->

	<!-- course-->
	<div class="classes py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-sm-5 mb-4">Related
				<span class="font-weight-bold">course</span>
			</h3>
			<div class="row pt-4">
				<div class="col-lg-4 col-news-top text-center">
					<!-- Left to right -->
					<!-- normal -->
					<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="language.html">
							<div class="img">
								<img src="{% static  'images/c1.jpg' %}" alt="img" class="img-fluid rounded-circle">
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">Phát Âm</h3>
								<p>Description goes here</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="language.html" class="text-dark">Phát Âm
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
					<!-- end normal -->
					<!-- end Left to right -->
				</div>
				<div class="col-lg-4 col-news-top text-center my-lg-0 my-sm-5 my-4">
					<!-- Left to right -->
					<!-- normal -->
					<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="communication.html">
							<div class="img">
								<img src="{% static  'images/c2.jpg' %}" alt="img" class="img-fluid rounded-circle">
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">Cơ Bản</h3>
								<p>Description goes here</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="communication.html" class="text-dark">Cơ Bản
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
					<!-- end normal -->
					<!-- end Left to right -->
				</div>
				<div class="col-lg-4 col-news-top text-center">
					<!-- Left to right -->
					<!-- normal -->
					<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="business.html">
							<div class="img">
								<img src="{% static  'images/c3.jpg' %}" alt="img" class="img-fluid rounded-circle">
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">Giao Tiếp</h3>
								<p>Description goes here</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="business.html" class="text-dark">Giao Tiếp
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
					<!-- end normal -->
					<!-- end Left to right -->
				</div>
			</div>
            <div class="row mt-5">
				<div class="col-lg-12 col-news-top text-center  my-lg-0 my-sm-5 my-4">
		  			<!-- Left to right -->
		  			<!-- normal -->
		  			<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="social_media.html">
							<div class="img">
								<img src="{% static  'images/c6.jpg' %}" alt="img" class="img-fluid rounded-circle">
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">Dạy Kèm 1-1</h3>
								<p>Description goes here</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="social_media.html" class="text-dark">Dạy Kèm 1-1
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
					<!-- end normal -->
					<!-- end Left to right -->
			  </div>
			</div>
		</div>
	</div>
	<!-- //course -->
		<script type="text/javascript">
		var element = document.getElementById("nav-item3");
  		element.classList.add("active");
		</script>
{% include 'footer.html' %}
