<!DOCTYPE html>
{% load staticfiles %}
<html lang="vi">
<head>
	<title>Edulearn Education Category Bootstrap Responsive Website Template | Coming Soon :: W3layouts</title>
{% include 'header.html' %}
	<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="index.html">Trang Chủ</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Listening</li>
		</ol>
	</nav>
	<!-- breadcrumb -->
	<!-- //banner -->
<!---728x90--->

	<!-- coming soon -->
	<div class="w3-main-coming py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">
				<span class="font-weight-bold">Listening</span>
			</h3>
			<!-- content -->
			<div class="main-content-agile pt-md-4">
				<div class="w3l-agile-coming text-center ">
					<h3 class="text-dark mb-4">we are coming soon</h3>
					<p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				</div>
				<!--timer-->
				<!--//timer-->
				<!-- newsletter -->
				<div class="sub-main-w3-2">
					<form action="#" method="post">
						<p class="text-dark mb-3 text-right">Notify me when it's ready</p>
						<div class="form-style-agile-2">
							<input placeholder="Your Email Address......" name="Name" type="email" required="">
							<input type="submit" value="Submit">
						</div>
					</form>
				</div>
				<!-- //newsletter -->
			</div>
			<!-- //content -->
		</div>
	</div>
	<script type="text/javascript">
		var element = document.getElementById("nav-item4");
  		element.classList.add("active");
		</script>
{% include 'footer.html' %}
