<!DOCTYPE html>
{% load staticfiles %}
<html lang="vi">
<head>
	<title>ES.I ENGLISH CLASS - BRIGHTEN YOUR ENGLISH</title>
	<link rel="icon" type="image/png" sizes="56x56" href="images/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="ES.I English Class - Lớp học Tiếng Anh giao tiếp chuẩn phát âm giọng Mỹ"/>
	<meta name="description" content="Lớp học Tiếng Anh giao tiếp chuẩn quốc tế dành cho người bận rộn" />
	<link rel="canonical" href="https://esiclass.com/" />
	<meta property="og:locale" content="vi_VN" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="ES.I ENGLISH CLASS - Lớp học Tiếng Anh giao tiếp chuẩn quốc tế dành cho người bận rộn" />
	<meta property="og:description" content="Lớp học Tiếng Anh giao tiếp chuẩn quốc tế dành cho người bận rộn" />
	<meta property="og:url" content="https://esiclass.com/" />
	<meta property="og:site_name" content="ES.I CLASS" />
	<meta property="og:image" content="https://esiclass.com/images/new3.jpg" />
	<meta property="og:image:secure_url" content="https://esiclass.com/images/new3.jpg" />
	<meta property="og:image:width" content="297" />
	<meta property="og:image:height" content="295" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:description" content="Lớp học Tiếng Anh giao tiếp chuẩn quốc tế dành cho người bận rộn" />
	<meta name="twitter:title" content="Lớp học Tiếng Anh giao tiếp chuẩn quốc tế dành cho người bận rộn" />
	<meta name="twitter:image" content="https://esiclass.com/images/new3.jpg" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link rel="stylesheet" href="{% static  'css/bootstrap.css' %}">
	<link href="{% static  'css/mislider.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static  'css/mislider-custom.css' %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static  'css/style.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static  'css/fontawesome-all.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body>
	<!-- header -->
	<header>
		<!-- top header -->
		<!-- //top header -->
		<!-- middle header -->
		<div class="middle-w3ls-nav py-2">
			<div class="container">
				<div class="row">
					<a class="logo font-italic font-weight-bold col-lg-4 text-lg-left text-center" href="index.html"><img src="images/logo-01-01.png"></a>
					<div class="col-lg-8 right-info-agiles mt-lg-0 mt-sm-3 mt-1">
						<div class="row">
							<div class="col-sm-12 col-6 top-login-butt text-right mt-sm-2">
								<a href="login.html" class="button-head-mow3 text-white">ĐĂNG NHẬP</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //middle header -->
	</header>
	<!-- //header -->

	<!-- banner -->
	<div class="banner-agile">
		<ul class="slider">
			<li class="active">
				<div class="banner-w3ls-1">
				</div>
			</li>
			<li>
				<div class="banner-w3ls-2">
				</div>
			</li>
			<li>
				<div class="banner-w3ls-3">
				</div>
			</li>
			<li>
				<div class="banner-w3ls-4">
				</div>
			</li>
			<li class="prev">
				<div class="banner-w3ls-5">
				</div>
			</li>
		</ul>
		<ul class="pager">
			<li data-index="0" class="active"></li>
			<li data-index="1"></li>
			<li data-index="2"></li>
			<li data-index="3"></li>
			<li data-index="4"></li>
		</ul>
		<div class="banner-text-posi-w3ls">
			<div class="banner-text-whtree">
				<h3 class="text-capitalize text-white p-4">your bright future
					<b>is our mission!</b>
				</h3>
				<p class="px-4 py-3 text-dark">Tiếng Anh Giao Tiếp Cho Người Đi Làm</p>
				<a href="https://esiclass.com/test/" class="button-agiles text-capitalize text-white mt-sm-5 mt-4">Kiểm Tra Trình Độ</a>
			</div>
		</div>

		<!-- navigation -->
		<div class="navigation-w3ls">
			<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-nav">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
					<ul class="navbar-nav justify-content-center">
						<li class="nav-item active">
							<a class="nav-link text-white" href="index.html">TRANG CHỦ
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="about.html">GIỚI THIỆU</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								KHÓA HỌC
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="language.html">PHÁT ÂM</a>
								<a class="dropdown-item" href="communication.html">CƠ BẢN</a>
								<a class="dropdown-item" href="business.html">GIAO TIẾP</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="form.html">ĐĂNG KÝ</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								TÀI LIỆU
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="coming_soon.html">LISTENING</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="gallery.html">HỌC VIÊN</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="contact.html">LIÊN HỆ</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- //navigation -->
	</div>
	<!-- //banner -->


	<!-- about -->
	<div class="about py-5">
    	<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">Welcome to
				<span class="font-weight-bold">ES.I</span>
			</h3>
			<div class="row pt-md-4">
				<div class="col-lg-6 about_right">
					<h3 class="text-capitalize text-right font-weight-light font-italic">Tiếng Anh Giao Tiếp
						<span class="font-weight-bold">Chuẩn Quốc Tế</span>
					</h3>
					<p class="text-right my-4 pr-4 border-right text-dark">ES.I là trung tâm đào tạo Tiếng Anh giỏi toàn diện kỹ năng Nghe-Nói đầu tiên tại Việt Nam. Chỉ sau thời 							gian 3-6 tháng. ES.I cam kết sẽ giúp bạn phát âm chuẩn, hoàn toàn tự tin sử dụng tiếng Anh trong giao tiếp, thuyết trình với người nước ngoài bằng phản xạ tự nhiên.</p>
					<div class="about_left-list">
						<h6 class="mb-lg-3 mb-2 font-weight-bold text-dark">Cam Kết</h6>
						<ul class="list-unstyled">
							<li class="mb-2 text-dark">
								<i class="fas fa-check mr-3"></i>Chuẩn hoá phát âm Anh- Mỹ</li>
							<li class="mb-2 text-dark">
								<i class="fas fa-check mr-3"></i>Giao tiếp cơ bản trong 3 tháng.</li>
							<li class="mb-2 text-dark">
								<i class="fas fa-check mr-3"></i>Quá trình học tập được theo dõi sát sao.</li>
							<li class="mb-2 text-dark">
								<i class="fas fa-check mr-3"></i>Không qua loa, không sơ sơ, không tạm được.</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 left-img-agikes mt-lg-0 mt-sm-4 mt-3 text-right">
					<img src="{% static  'images/ab.jpg' %}" alt="" class="img-fluid" />

					<div class="about-bottom text-center p-sm-5 p-4">
						<ul>
							<li>
								<h5>3+</h5>
								<p class="text-dark font-weight-bold">Month</p>
							</li>
							<li>
								<h5>50+</h5>
								<p class="text-dark font-weight-bold">Students</p>
							</li>
							<li>
								<h5>5+</h5>
								<p class="text-dark font-weight-bold">Courses</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->


	<!-- Stats-->
	<!-- //Stats -->


	<!-- course-->
	<div class="classes py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-sm-5 mb-4">choose your
				<span class="font-weight-bold">course</span>
			</h3>
			<div class="row pt-4">
				<div class="col-lg-4 col-news-top text-center">
					<!-- Left to right -->
					<!-- normal -->
					<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="language.html">
							<div class="img">
								<img src="{% static  'images/c1.jpg' %}" alt="img" class="img-fluid rounded-circle">
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">Phát Âm</h3>
								<p>Luyện phát âm chuẩn Anh - Mỹ</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="language.html" class="text-dark">Phát Âm
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
					<!-- end normal -->
					<!-- end Left to right -->
				</div>
				<div class="col-lg-4 col-news-top text-center my-lg-0 my-sm-5 my-4">
					<!-- Left to right -->
					<!-- normal -->
					<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="communication.html">
							<div class="img">
								<img src="{% static  'images/c2.jpg' %}" alt="img" class="img-fluid rounded-circle">
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">Cơ Bản</h3>
								<p>Lấy lại cơ bản tiếng Anh dành cho người mất gôc</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="communication.html" class="text-dark">Cơ Bản
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
					<!-- end normal -->
					<!-- end Left to right -->
				</div>
                <div class="col-lg-4 col-news-top text-center my-lg-0 my-sm-5 my-4">
					<!-- Left to right -->
					<!-- normal -->
					<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="communication.html">
							<div class="img">
								<img src="{% static  'images/c3.jpg' %}" alt="img" class="img-fluid rounded-circle">
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">Giao Tiếp</h3>
								<p>Description goes here</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="communication.html" class="text-dark">Giao Tiếp
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
					<!-- end normal -->
					<!-- end Left to right -->
				</div>
			</div>
            <div class="row mt-5">
				<div class="col-lg-12 col-news-top text-center  my-lg-0 my-sm-5 my-4">
		  			<!-- Left to right -->
		  			<!-- normal -->
		  			<div class="ih-item circle effect16 left_to_right mx-auto">
						<a href="social_media.html">
							<div class="img">
								<img src="{% static  'images/c6.jpg' %}" alt="img" class="img-fluid rounded-circle">
							</div>
							<div class="info">
								<h3 class="text-capitalize text-white">Dạy Kèm 1-1</h3>
								<p>Description goes here</p>
							</div>
						</a>
					</div>
					<h6 class="small-heading text-capitalize text-center mt-4">
						<a href="social_media.html" class="text-dark">Dạy Kèm 1-1
							<i class="fas fa-long-arrow-alt-right ml-1"></i>
						</a>
					</h6>
					<!-- end normal -->
					<!-- end Left to right -->
			  </div>
			</div>
		</div>
	</div>
	<!-- //course -->

	<!-- what we do -->
	<div class="why-choose-agile py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-center mb-5 text-dark">what we
				<span class="font-weight-bold">do</span>
			</h3>
			<div class="row agileits-w3layouts-grid pt-md-4">
				<div class="col-lg-4 services-agile-1">
					<div class="row wthree_agile_us">
						<div class="col-lg-3 col-md-2 col-3  agile-why-text">
							<div class="wthree_features_grid text-center p-3 border rounded">
								<i class="fab fa-accusoft"></i>
							</div>
						</div>
						<div class="col-9 agile-why-text-2">
							<h4 class="text-capitalize font-weight-bold mb-3 text-dark">Pronunciation</h4>
							<h4 class="text-capitalize font-weight-bold mb-3 text-dark">- Khoá phát âm.</h4>
							<p class="text-dark">Đọc chuẩn xác 44 âm</p>
							<p class="text-dark">Đọc chuẩn xác phiên âm</p>
							<p class="text-dark">Ngữ điệu tự nhiên</p>
							<a class="btn mt-3 service-button p-0" href="course_details.html" role="button">Đọc Thêm
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 services-agile-1 my-lg-0 my-5">
					<div class="row wthree_agile_us">
						<div class="col-lg-3 col-md-2 col-3  agile-why-text">
							<div class="wthree_features_grid text-center p-3 border rounded">
								<i class="fas fa-book"></i>
							</div>
						</div>
						<div class="col-9 agile-why-text-2">
							<h4 class="text-capitalize font-weight-bold mb-3 text-dark">Beginner</h4>
							<h4 class="text-capitalize font-weight-bold mb-3 text-dark">– Khoá cơ bản cho người mất gốc. </h4>
							<p class="text-dark">Ngữ pháp và từ vựng cơ bản nhất</p>
							<p class="text-dark">Giúp học viên tìm lại sự tự tin và niềm vui học anh ngữ.</p>
							<a class="btn mt-3 service-button p-0" href="course_details.html" role="button">Đọc Thêm
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 services-agile-1">
					<div class="row wthree_agile_us">
						<div class="col-lg-3 col-md-2 col-3  agile-why-text">
							<div class="wthree_features_grid text-center p-3 border rounded">
								<i class="fas fa-users"></i>
							</div>
						</div>
						<div class="col-9 agile-why-text-2">
							<h4 class="text-capitalize font-weight-bold mb-3 text-dark">Communication</h4>
							<h4 class="text-capitalize text-white font-weight-bold mb-3 text-dark">– Khoá giao tiếp</h4>
							<p class="text-dark">Giáo trình theo 3 level học</P>
							<p class="text-dark">Phản xạ giao tiếp nhanh nhẹn.</p>
							<p class="text-dark">Giao tiếp với giáo viên bản ngữ hằng tuần.</p>
							<a class="btn mt-3 service-button p-0" href="course_details.html" role="button">Đọc Thêm
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
               	<div class="row wthree_agile_us">
						<div class="col-lg-2 col-md-2 col-3  agile-why-text">
							<div class="wthree_features_grid text-center p-3 border rounded">
								<i class="fas fa-graduation-cap"></i>
							</div>
						</div>
						<div class="col-9 agile-why-text-2">
							<h4 class="text-capitalize font-weight-bold mb-3 text-dark">Tutoring</h4>
                            <h4 class="text-capitalize text-white font-weight-bold mb-3 text-dark">– Khoá dạy kèm 1-1</h4>
							<p class="text-dark">Xây dựng nền tảng tiếng anh dựa trên trình độ của học viên</p>
							<p class="text-dark">Luyện khả năng nghe - đọc - hiểu trong giao tiếp hằng ngày</p>
							<p class="text-dark">Tương tác đặc biệt giữa giáo viên và học viên</p>
							<p class="text-dark">Thời gian linh động, đặc biệt phù hợp cho người bận rộn</p>
							<a class="btn mt-3 service-button p-0" href="course_details.html" role="button">Đọc Thêm
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
			</div>
			</div>
		</div>
	</div>
	<!-- //what we do -->

	<!-- video and events -->
	<div class="video-choose-agile py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-7 video">
					<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">refer
						<span class="font-weight-bold">Video</span>
					</h3>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/mynucZiy-Ug" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col-lg-5 events">
					<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">Recent
						<span class="font-weight-bold">Course</span>
					</h3>
					<div class="events-w3ls">
						<div class="d-flex">
							<div class="col-sm-2 col-3 events-up p-3 text-center">
								<h5 class="text-white font-weight-bold">02
									<span class="border-top font-weight-light pt-2 mt-2">May</span>
								</h5>
							</div>
							<div class="col-sm-10 col-9 events-right">
								<h4 class="text-dark">Khóa học Phát Âm </h4>
								<ul class="list-unstyled">
									<li class="my-2">
										<i class="far fa-clock mr-2"></i>6.00 pm - 7.30 pm</li>
									<li>
										<i class="fas fa-map-marker mr-2"></i>D2 Chu Văn An, Bình Thạnh</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="d-flex my-4">
						<div class="col-sm-2 col-3 events-up p-3 text-center">
							<h5 class="text-white font-weight-bold">01
								<span class="border-top font-weight-light pt-2 mt-2">April</span>
							</h5>
						</div>
						<div class="col-sm-10 col-9 events-right">
							<h4 class="text-dark">Khóa học Cơ Bản
							<ul class="list-unstyled">
								<li class="my-2">
									<i class="far fa-clock mr-2"></i>7.45 pm - 9.15 pm</li>
								<li>
									<i class="fas fa-map-marker mr-2"></i>D2 Chu Văn An, Bình Thạnh</li>
							</ul>
						</div>
					</div>
					<div class="d-flex">
						<div class="col-sm-2 col-3 events-up p-3 text-center">
							<h5 class="text-white font-weight-bold">28
								<span class="border-top font-weight-light pt-2 mt-2">April</span>
							</h5>
						</div>
						<div class="col-sm-10 col-9 events-right">
							<h4 class="text-dark">Khóa học Giao Tiếp
							<ul class="list-unstyled">
								<li class="my-2">
									<i class="far fa-clock mr-2"></i>6.00 pm - 7.30 pm</li>
								<li>
									<i class="fas fa-map-marker mr-2"></i>D2 Chu Văn An, Bình Thạnh</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //video and events -->

	<!-- testimonials -->
	<div class="testimonials py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-white text-center mb-5">what our
				<span class="font-weight-bold">people says</span>
			</h3>
			<div class="mis-stage">
				<!-- The element to select and apply miSlider to - the class is optional -->
				<ol class="mis-slider">
					<!-- The slider element - the class is optional -->
					<li class="mis-slide">
						<!-- A slide element - the class is optional -->
						<a href="#" class="mis-container">
							<!-- A slide container - this element is optional, if absent the plugin adds it automatically -->
							<figure>
								<!-- Slide content - whatever you want -->
								<img src="{% static  'images/t1.jpg' %}" alt=" " class="img-fluid" />
								<figcaption>Thanh Nguyen
									<span>Nhờ có ESI mà mình được nâng lên một đỉnh cao mới, biết được nhiều kiến thức và phát âm chuẩn hơn, nói lưu loát hơn.</span>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class="mis-slide">
						<a href="#" class="mis-container">
							<figure>
								<img src="{% static  'images/t2.jpg' %}" alt=" " class="img-fluid" />
								<figcaption>Bong Bong
									<span>Từ một đứa phát âm sai bét nhưng giờ đây đã biết cách phát âm chính xác và tự tin hơn trong giao tiếp</span>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class="mis-slide">
						<a href="link.html" class="mis-container">
							<figure>
								<img src="{% static  'images/t3.jpg' %}" alt=" " class="img-fluid" />
								<figcaption>Hot Tit
									<span>Qua khóa học mình đã cải thiện hơn nhiều về cách giao tiếp tiếng Anh, mỗi buổi được lên trung tâm đều là một ngày vui.</span>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class="mis-slide">
						<a href="#" class="mis-container">
							<figure>
								<img src="{% static  'images/t4.jpg' %}" alt=" " class="img-fluid" />
								<figcaption>Phuong Phuong
									<span>Giáo viên rất thân thiện, nhiệt tình và giúp tôi rất nhiều trong quá trình học tập. Cách truyền đạt của cô rất dễ hiểu và gần gũi</span>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class="mis-slide">
						<a href="#" class="mis-container">
							<figure>
								<img src="{% static  'images/t5.jpg' %}" alt=" " class="img-fluid" />
								<figcaption>Lam Vo
									<span>Học vui, tiếp thu tốt, từ ghét tiếng Anh mà bây giờ nhờ ESI mình cảm thấy bắt đầu thích tiếng Anh</span>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class="mis-slide">
						<a href="#" class="mis-container">
							<figure>
								<img src="{% static  'images/t6.jpg' %}" alt=" " class="img-fluid" />
								<figcaption>Nguyen Hai Trieu
									<span>sau 2 tháng học kèm tôi đã thấy mình tự tin hơn, vốn từ vựng và phát âm được cải thiện hơn.</span>
								</figcaption>
							</figure>
						</a>
					</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- //testimonials -->

	<!-- news -->
	<div class="news-section py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">our lastest
				<span class="font-weight-bold">news</span>
			</h3>
			<div class="row news-grids-w3l pt-md-4">
				<div class="col-md-4 news-grid">
					<a href="blog.html">
						<img src="{% static  'images/n1.jpg' %}" class="img-fluid" alt="" />
					</a>
					<div class="news-text">
						<div class="news-events-agile event-colo1 py-2 px-3">
							<h5 class="float-left">
								<a href="blog.html" class="text-white">3 tháng 3</a>
							</h5>
							<div class="post-img float-right">
								<ul>
									<li>
										<a href="#">
											<i class="far fa-comments text-white"></i>
										</a>
									</li>
									<li class="mx-3">
										<a href="#">
											<i class="far fa-heart text-white"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fas fa-share text-white"></i>
										</a>
									</li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="detail-bottom">
							<h6 class="my-3">
								<a href="blog.html" class="text-dark">
									Học tiếng anh giao tiếp thì được gì?
								</a>
							</h6>
							<p>Học sinh và sinh viên thường chỉ được tiếp xúc với tiếng Anh qua sách vở và rèn luyện chủ yếu các kĩ năng đọc, viết thì trong môi trường công sở, tiếng Anh giao tiếp lại được sử dụng với tần suất cao hơn..</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 news-grid my-md-0 my-sm-5 my-4">
					<a href="blog2.html">
						<img src="{% static  'images/ne2.jpg' %}" class="img-fluid" alt="" />
					</a>
					<div class="news-text">
						<div class="news-events-agile py-2 px-3">
							<h5 class="float-left">
								<a href="blog2.html" class="text-white">10 tháng 3</a>
							</h5>
							<div class="post-img float-right">
								<ul>
									<li>
										<a href="#">
											<i class="far fa-comments text-white"></i>
										</a>
									</li>
									<li class="mx-3">
										<a href="#">
											<i class="far fa-heart text-white"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fas fa-share text-white"></i>
										</a>
									</li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="detail-bottom">
							<h6 class="my-3">
								<a href="blog2.html" class="text-dark">
									50 câu học tiếng anh giao tiếp cơ bản thông dụng
								</a>
							</h6>
							<p>Để đạt được ‘level nói tiếng anh như người bản xứ’, hãy bắt đầu với việc học tiếng anh giao tiếp cơ bản. Sau đó, trau dồi việc nói tiếng anh bằng cách áp dụng những câu nói tiếng anh giao tiếp hàng ngày vào đời sống..</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 news-grid">
					<a href="blog3.html">
						<img src="{% static  'images/n3.jpg' %}" class="img-fluid" alt="" />
					</a>
					<div class="news-text">
						<div class="news-events-agile event-colo3 py-2 px-3">
							<h5 class="float-left">
								<a href="blog.html" class="text-white">19 tháng 3</a>
							</h5>
							<div class="post-img float-right">
								<ul>
									<li>
										<a href="#">
											<i class="far fa-comments text-white"></i>
										</a>
									</li>
									<li class="mx-3">
										<a href="#">
											<i class="far fa-heart text-white"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fas fa-share text-white"></i>
										</a>
									</li>
								</ul>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="detail-bottom">
							<h6 class="my-3">
								<a href="blog3.html" class="text-dark">
									Bí kíp Rèn luyện kỹ năng nói & Phát âm tiếng anh chuẩn
								</a>
							</h6>
							<p>Nghe vững thì nói mới chuẩn, nhưng luyện từ thôi chưa đủ, để nói vừa nhanh vừa chuẩn và ngữ pháp chính xác thì phải luyện phản xạ khi nói. Cái này cũng không có cách nào khác để phát triển ngoài thực hành.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //news -->

	<!-- brands -->
	<!-- //brands -->

	<!-- footer -->
	<footer>
		<div class="container py-4">
			<div class="row py-xl-5 py-sm-3">
				<div class="col-lg-6 map">
					<h2 class="contact-title text-capitalize text-white font-weight-light mb-sm-4 mb-3">ES.I -
						<span class="font-weight-bold">Địa Chỉ</span>
					</h2>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.7539861503894!2d106.7032577292036!3d10.810090399518673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175295115b35db7%3A0xb973732223c5ca12!2sC%C3%94NG+TY+TNHH+FATAMEDIA!5e0!3m2!1svi!2s!4v1544675628854" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					<div class="conta-posi-w3ls p-4 rounded">
						<h5 class="text-white font-weight-bold mb-3">Địa Chỉ</h5>
						<p>D1 Khu Chung Cư Đất Phương Nam
							<span>243 Chu Văn An,</span> P. 12, Q. Bình Thạnh, Tp.HCM</p>
					</div>
				</div>
				<div class="col-lg-6 contact-agileits-w3layouts mt-lg-0 mt-4">
				  <h3 class="font-weight-bold text-white">Kết nối <span class="contact-title text-capitalize text-white font-weight-light mb-sm-4 mb-3">với chúng tôi</span> </h3>
				  <p>&nbsp;</p>
				  <p class="conta-para-style border-left pl-4">Nếu bạn có bất cứ thắc mắc nào về khóa học, hãy liên hệ ngay với hotline hoặc email bên dưới
                    để được hỗ trợ và tư vấn.</p>
					<div class="subscribe-w3ls my-xl-5 my-4">
						<h6 class="text-white text-capitalize mb-4">Nhập Email để nhận mọi thông tin sớm nhất!</h6>
						<form action="#" method="post" class="subscribe_form">
							<input class="form-control" type="email" name="email" placeholder="Enter your email..." required="">
							<button type="submit" class="btn btn-primary submit">Submit</button>
						</form>
					</div>
					<p class="para-agileits-w3layouts text-white">
						<i class="fas fa-map-marker pr-3"></i>D1 KDC Đất Phương Nam, 243 Chu Văn An, P. 12, Q. BT, Tp.HCM</p>
					<p class="para-agileits-w3layouts text-white my-sm-3 my-2">
						<i class="fas fa-phone pr-3"></i>(028) 668 338 94</p>
					<p class="para-agileits-w3layouts">
						<i class="far fa-envelope-open pr-2"></i>
						<a href="mailto:mail@example.com" class=" text-white">esiclassvn@gmail.com</a>
					</p>
				</div>
			</div>
		</div>
		<div class="copyright-agiles py-3">
			<div class="container">
				<div class="row">
					<p class="col-lg-8 copy-right-grids text-white text-lg-left text-center mt-lg-1">© 2018 ES.I. All Rights Reserved | Design by
						<a href="" target="_blank">LOUIS</a>
					</p>
					<!-- social icons -->
					<!-- //social icons -->
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->


	<!-- Js files -->
	<!-- JavaScript -->
	<script src="{% static  'js/jquery-2.2.3.min.js' %}"></script>
	<!-- Default-JavaScript-File -->
	<script src="{% static  'js/bootstrap.js' %}"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<!-- banner slider -->
	<script src="{% static  'js/slider.js' %}"></script>
	<!-- //banner slider -->

	<!-- testimonial-plugin -->
	<script src="{% static  'js/mislider.js' %}"></script>
	<script>
		jQuery(function ($) {
			var slider = $('.mis-stage').miSlider({
				//  The height of the stage in px. Options: false or positive integer. false = height is calculated using maximum slide heights. Default: false
				stageHeight: 320,
				//  Number of slides visible at one time. Options: false or positive integer. false = Fit as many as possible.  Default: 1
				slidesOnStage: false,
				//  The location of the current slide on the stage. Options: 'left', 'right', 'center'. Defualt: 'left'
				slidePosition: 'center',
				//  The slide to start on. Options: 'beg', 'mid', 'end' or slide number starting at 1 - '1','2','3', etc. Defualt: 'beg'
				slideStart: 'mid',
				//  The relative percentage scaling factor of the current slide - other slides are scaled down. Options: positive number 100 or higher. 100 = No scaling. Defualt: 100
				slideScaling: 150,
				//  The vertical offset of the slide center as a percentage of slide height. Options:  positive or negative number. Neg value = up. Pos value = down. 0 = No offset. Default: 0
				offsetV: -5,
				//  Center slide contents vertically - Boolean. Default: false
				centerV: true,
				//  Opacity of the prev and next button navigation when not transitioning. Options: Number between 0 and 1. 0 (transparent) - 1 (opaque). Default: .5
				navButtonsOpacity: 1,
			});
		});
	</script>
	<!-- //testimonial-plugin -->

	<!-- numscroller-js-file -->
	<script src="{% static  'js/numscroller-1.0.js' %}"></script>
	<!-- //numscroller-js-file -->

	<!-- smooth scrolling -->
	<script src="{% static  'js/SmoothScroll.min.js' %}"></script>
	<!-- //smooth scrolling -->

	<!-- move-top -->
	<script src="{% static  'js/move-top.js' %}"></script>
	<!-- easing -->
	<script src="{% static  'js/easing.js' %}"></script>
	<!--  necessary snippets for few javascript files -->
	<script src="{% static  'js/edulearn.js' %}"></script>

	<!-- //Js files -->

</body>
</html>
