	<link rel="icon" type="image/png" sizes="56x56" href="images/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link rel="stylesheet" href="{% static'css/bootstrap.css'%}">
	<link rel="stylesheet" href="{% static'css/style.css'%}" type="text/css" media="all" />
    <link href="{% static'css/mislider.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static'css/mislider-custom.css'%}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static'css/fontawesome-all.css'%}">
	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body>
	<!-- header -->
	<header>
		<!-- top header -->
		<!-- //top header -->
		<!-- middle header -->
		<div class="middle-w3ls-nav py-2">
			<div class="container">
				<div class="row">
					<a class="logo font-italic font-weight-bold col-lg-4 text-lg-left text-center" href="index.html"><img src="{% static  'images/logo-01-01.png' %}"></a>
					<div class="col-lg-8 right-info-agiles mt-lg-0 mt-sm-3 mt-1">
						<div class="row">
							<div class="col-sm-12 col-6 top-login-butt text-right mt-sm-2">
								<a href="login.html" class="button-head-mow3 text-white">Đăng Nhập</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //middle header -->
	</header>
	<!-- //header -->

	<!-- banner -->
	<div class="banner-agile-2">
		<!-- navigation -->
		<div class="navigation-w3ls">
			<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-nav">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
					<ul class="navbar-nav justify-content-center">
						<li class="nav-item" id="nav-item1">
							<a class="nav-link text-white" href="index.html">TRANG CHỦ
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item" id="nav-item2">
							<a class="nav-link text-white" href="about.html">GIỚI THIỆU</a>
						</li>
						<li class="nav-item dropdown" id="nav-item3">
							<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								KHÓA HỌC
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="language.html">PHÁT ÂM</a>
								<a class="dropdown-item" href="communication.html">CƠ BẢN</a>
								<a class="dropdown-item" href="business.html">GIAO TIẾP</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="form.html">ĐĂNG KÝ</a>
							</div>
						</li>
						<li class="nav-item dropdown" id="nav-item4">
							<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								TÀI LIỆU
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="coming_soon.html">LISTENING</a>
							</div>
						</li>
						<li class="nav-item" id="nav-item5">
							<a class="nav-link text-white" href="gallery.html">HỌC VIÊN</a>
						</li>
						<li class="nav-item" id="nav-item6">
							<a class="nav-link text-white" href="contact.html">LIÊN HỆ</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- //navigation -->
	</div>
