<!DOCTYPE html>
{% load staticfiles %}
<html lang="vi">
<head>
	<title>Edulearn Education Category Bootstrap Responsive Website Template | Login Form :: W3layouts</title>
{% include 'header.html' %}
	<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="index.html">Trang Chủ</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Đăng Nhập</li>
		</ol>
	</nav>
	<!-- breadcrumb -->

	<!-- login -->
	<div class="login-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">Login
				<span class="font-weight-bold">now</span>
			</h3>
			<!-- content -->
			<div class="sub-main-w3 pt-md-4">
				<form action="#" method="post">
					<div class="form-style-agile form-group">
						<label>
							Tên Đăng Nhập
							<i class="fas fa-user"></i>
						</label>
						<input placeholder="Username" class="form-control" name="Name" type="text" required="">
					</div>
					<div class="form-style-agile form-group">
						<label>
							Mật Khẩu
							<i class="fas fa-unlock-alt"></i>
						</label>
						<input placeholder="Password" class="form-control" name="Password" type="password" required="">
					</div>
					<!-- switch -->
					<ul class="list-unstyled list-login">
						<li class="switch-agileits float-left">
							<label class="switch  text-capitalize">
								<input type="checkbox">
								<span class="slider-switch round"></span>
								Giữ Đăng Nhập
							</label>
						</li>
						<li class="float-right">
							<a href="#" class="text-right text-white text-capitalize">Quên mật khẩu?</a>
						</li>
					</ul>
					<!-- //switch -->
					<input type="submit" value="Log In">
				</form>
			</div>
			<!-- //content -->
		</div>
	</div>
	<!-- //login -->
{% include 'footer.html' %}
